:root {
    --blueColor: #0075ff;
    --blueAltColor: #0d69d5;
    --orangeColor: #f59e0b;
    --greenColor: #22c55e;
    --redColor: #f44336;
    --greyColor: #888;
    --mainTransition: 0.3s;
    --mainBoxShadow: 0 0 10px #DDD;
}
/* Start Specific Seperates */
.bg-blue {
    background-color: var(--blueColor);
}
.blue {
    color: var(--blueColor);
}
.bg-orange {
    background-color: var(--orangeColor);
}
.orange {
    color: var(--orangeColor);
}
.bg-red {
    background-color: var(--redColor);
}
.red {
    color: var(--redColor);
}
.bg-green {
    background-color: var(--greenColor);
}
.green {
    color: var(--greenColor);
}
/* End Specific Seperates */
/* Start Big-Feat */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-2,
.grid-3,
.grid-4,
.grid-4-special {
    display: grid;
    gap: 20px;
}
.grid-2 {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid-4-special {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.sec-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* End Big-Feat */
/* Start Component */
.blue-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blueColor);
    color: white;
    width: fit-content;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: 20px;
}
.span-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 23px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    font-size: 14px;
    border-radius: 5px;
    margin: 0;
    margin-left: auto;
}
@media (max-width: 767px) {
    .blue-shape {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
.toggle-switch {
    display: flex;
    height: 32px;
}
.toggle-switch label {
    width: 78px;
    height: 100%;
    background-color: #DDD;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: var(--mainTransition);
}
.toggle-switch label::before {
    font-family: "FontAwesome";
    content: "\f00d";
    background-color: white;
    color: #AAA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    transition: var(--mainTransition);
}
.toggle-switch input {
    display: none; /* Note: Display none ONLY MAKES The Element out of the workflow and hidden, but it is not removed from the page, so when you click on the div you check the label, so the input getss checked */
    /* Try to remove display none to know what this Note means */
}
.toggle-switch input:checked + label {
    background-color: var(--blueColor);
}
.toggle-switch input:checked + label::before {
    content: "\f00c";
    color: var(--blueColor);
    left: calc(100% - 7px);
    transform: translate(-100%, -50%);
}
@media (max-width: 767px) {
    .toggle-switch label {
        width: 60px;
        height: 100%;
    }
    .toggle-switch label::before {
        width: 17x;
        height: 17px;
        font-size: 13px;
    }
}
/* End Component */