/* Start Variables */
:root {
    --blueColor: #0075ff;
    --blueAltColor: #0d69d5;
    --orangeColor: #f59e0b;
    --greenColor: #22c55e;
    --redColor: #f44336;
    --greyColor: #888;
    --mainTransition: 0.3s;
    --mainBoxShadow: 0 0 10px #DDD;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blueColor);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blueAltColor);
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}
input,
textarea {
    font-family: inherit; /* Input And Text Area Placeholder Doesn't Automatically Inherit The Font Family */
    display: block;
    border: none;
    outline: none;
}
input[type="submit"] {
    cursor: pointer;
}
textarea {
    resize: none;
}
span {
    display: block;
}
.page {
    background-color: #f1f5f9;
    display: flex;
    min-height: 100vh;
}
section {
    flex-grow: 1;
}
.container {
    padding: 10px 15px;
}
/* End Global Rules */
/* Start Sidebar */
aside {
    font-family: "Caesar Dressing", system-ui;
    background-color: white;
    padding: 20px;
    width: 220px;
    box-shadow: var(--mainBoxShadow);
    position: sticky;
    top: 0;
    height: 100vh;
    /* positioning as fixed is not good here because it will make the aside out of the workflow */
    z-index: 100;
}
aside > h3 {
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}
aside > h3::before,
aside > h3::after {
    content: "";
    background-color: black;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}
aside > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}
aside > h3::after {
    box-sizing: content-box;
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
}
aside ul li a {
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
    color: black;
    border-radius: 6px;
    transition: 0.3s;
    margin-bottom: 5px;
    /* margin-left: 15px; */
}
aside ul li a span {
    width: 100px;
}
aside ul li a:hover,
aside ul li a.active {
    background-color: #f6f6f6;
}
aside ul li a span {
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    aside {
        width: 58px;
        padding: 10px;
    }
    aside > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    aside > h3::before,
    aside > h3::after {
        display: none;
    }
    aside ul li a span {
        display: none;
    }
}
h2 + p {
    color: var(--greyColor);
    margin-top: 5px;
    font-size: 14px;

}
/* End Sidebar */
/* Start Header */
header {
    background-color: white;
    box-shadow: var(--mainBoxShadowz);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header form {
    display: flex;
    align-items: center;
    color: var(--greyColor);
    border-radius: 10px;
    border: 2px solid #EEE;
    padding: 10px;
}
header form input {
    font-size: 14px;
    width: 130px;
    margin-left: 10px;
    transition: var(--mainTransition);
}
header form input::placeholder {
    transition: var(--mainTransition);
}
header input:focus {
    width: 160px;
}
header form input:focus::placeholder {
    opacity: 0;
}
header img {
    width: 32px;
}
header .profile {
    gap: 15px;
    font-size: 22px;
}
header .profile span {
    position: relative;
    z-index: 2;
}
header .profile span::before {
    content: "";
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: -1;
    top: -3px;
    right: -3px;
}
/* End Header */
.main-title {
    font-size: 2rem;
    --mainTitlePadding: 15px;
    padding: var(--mainTitlePadding);
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main-title::after {
    content: "";
    width: 120px;
    height: 3px;
    background-image: linear-gradient(to right, black 33%, white 33%);
    position: absolute;
    left: var(--mainTitlePadding);
    bottom: 0;
}
/* Start Wrapper */
.wrapper .container > div {
    padding: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
}
.wrapper .container > div > p {
    color: var(--greyColor);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
@media (max-width: 767px) {
    .wrapper .container {
        display: grid;
        grid-template-columns: minmax(200px, 1fr);
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;
        text-align: center;
    }
}
/* End Wrapper */
/* Start Site */
.site {
    text-align: left;
}
.site .web {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site form textarea {
    padding: 5px;
    margin-top: 15px;
    height: 170px;
    width: 100%;
    border: 3px solid #EEE;
}
.site .web p {
    font-size: 14px;
    margin-top: 5px;
    color: var(--greyColor);
}
/* End Site */
/* Start General Info */
.gen-info {
    text-align: left;
}
.gen-info label {
    display: block;
    color: var(--greyColor);
    font-size: 14px;
}
.gen-info input {
    border-radius: 7px;
    padding: 7px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid #EEE;
}
.gen-info form a {
    color: var(--blueColor);
}
/* End General Info */
/* Start Security Info */
.security {
    text-align: left;
}
.security .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    text-align: left;
}
.security .row {
    border-bottom: 1px solid #EEE;
    padding: 20px 0;
}
.security .text p {
    color: var(--greyColor);
    margin-top: 5px;
    font-size: 14px;
}
.security .row a {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}
@media (max-width: 767px) {
    .security .row {
        flex-direction: column;
        gap: 10px;
    }
    .security .row a,
    .security .toggle-switch,
    .security .text {
        width: 100%;
    }
    .security .toggle-switch label {
        width: 100%;
    }
}
/* End Security Info */
/* Start Social Info */
.social {
    text-align: left;
}
.social form {
    margin-top: 15px;
    height: calc(100% - 110px);
}
.social ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.social ul li {
    border: 2px solid #EEE;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.social ul li label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 40px;
    aspect-ratio: 1;
    background-color: #f6f6f6;
    color: var(--greyColor);
    border-right: 2px solid #EEE;
    transition: background-color var(--mainTransition),
                color var(--mainTransition);
}
.social ul li input {
    font-size: 0.9rem;
    flex-grow: 1;
    height: 100%;
    background-color: #f6f6f6;
    padding-left: 15px;
}
.social ul li input:focus + label {
    color: white;
    border-right-color: transparent;
}
/* Inner - Start Lable Coloring On Input Focus */
.social ul li:nth-child(1) input:focus + label {
    background-color: #1DA1F2;
}
.social ul li:nth-child(2) input:focus + label {
    background-color: #4267B2;
}
.social ul li:nth-child(3) input:focus + label {
    background-color: #0A66C2;
}
.social ul li:nth-child(4) input:focus + label {
    background-color: red;
}
@media (max-width: 767px) {
    .social ul li:not(:last-of-type) {
        margin-bottom: 15px;
    }
}
/* Inner - End Lable Coloring On Input Focus */
/* End Social Info */
/* Start Widgets Control */
.widg-control {
    text-align: left;
}
.widg-control ul li {
    height: 35px;
    display: flex;
    align-items: center;
}
.widg-control ul li label {
    cursor: pointer;
}
.widg-control ul li input[type="checkbox"] {
    width: 17px;
    aspect-ratio: 1;
    margin-right: 20px;
}
/* End Widgets Control */
/* Start Backup Manager */
.backup-manager {
    text-align: left;
}
.backup-manager ul {
    margin-top: 10px;
    padding: 15px 15px 0;
    border-bottom: 2px solid #EEE;
}
.backup-manager ul li {
    display: flex;
    margin-bottom: 10px;
}
.backup-manager ul li input[type="radio"] {
    width: 20px;
}
.backup-manager ul li label {
    padding-left: 10px;
}
.backup-manager .servers-holder {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.backup-manager .servers-holder .server {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.backup-manager .servers-holder .server input[type="radio"] {
    display: none;
}
.backup-manager .servers-holder .server label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid #EEE;
    border-radius: 7px;
    text-align: center;
    transition: var(--mainTransition);
}
.backup-manager .servers-holder .server label span {
    margin-top: 10px;
}
.backup-manager .servers-holder .server input[type="radio"]:checked + label {
    border-color: var(--blueColor);
    color: var(--blueColor);
}
@media (max-width: 767px) {
    .backup-manager .servers-holder {
        grid-template-columns: 1fr;
    }
}
/* End Backup Manager */